.f_1200{
	min-width: 1200px;
}
#cnzz_stat_icon_1255814405{
    display: none;
}
.gtys{
	position: relative;
	text-align: center;
}
.gtys a{
	display: inline-block;
	width: 318px;
	height: 62px;
	background: url(http://iotekcdn.b0.upaiyun.com/sem-static/img/Android980/anbgaz980.png) no-repeat;
	color: #fff;font-size: 26px;text-align: center;line-height: 62px;
	position: absolute;
	left: 50%;
	margin-left: -159px;
}
.gtys a:hover{
	text-decoration: none;
}
.gtys h1{
	color: #000;
	font-size: 50px;
	padding-top: 90px;
	padding-bottom: 20px;
}
.gtys p{
	color: #3d3d3d;
	font-size: 24px;
}
.f_01{
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}
.f_01 a{
	    bottom: 130px;
}



.f_02{
	width: 1200px;
	height: 960px;
	margin: 0 auto;
}
.f_02 a{
	bottom: 88px;
}



.f_03{
	width: 1200px;
	height: 958px;
	margin: 0 auto;
}
.f_03 a{
	bottom: 130px;
}
.f_03_zidiv{
	width: 380px;
	text-align: left;
	position: absolute;
}
.f_03_zidiv span{
	display: block;
	font-size: 24px;
	color: #926e01;
}
.f_03_zidiv .f3_blue{
	color: #074fba;
}
.f_03_zidiv p{
	font-size: 18px;
	color: #444;
}
.f3_01{
	top: 326px;
    left: 60px;
}
.f3_02{
	top: 495px;
    left: 100px;
}
.f3_03{
    top: 370px;
    right: 75px;
}
.f3_04{
	top: 529px;
    right: 35px;
}


.f_04{
	width: 1200px;
	height: 960px;
	margin: 0 auto;
}
.f_04 a{
	bottom: 109px;
}
.f_04_zidiv{
	position: absolute;
}
.f_04 .f_04_zidiv p{
	font-size: 16px;
	color: #383838;
	text-align: left;
	line-height: 28px;
}
.f_04 .f_04_zidiv span{
	font-size: 30px;
	color: #242424;
	display: block;
	text-align: left;
	padding-bottom: 5px;
}
.f_04 .wzr span{
	text-align: right;
}
.f_04_zidiv{
	width: 260px;
}
.f4_01{
	left: 71px;
    top: 290px;
}
.f4_02{
	left: 71px;
    top: 571px;
}
.f4_03{
	right: 72px;
    top: 290px;
}
.f4_04{
	right: 72px;
    top: 571px;
}




.f_05{
	width: 1200px;
	height: 961px;
	margin: 0 auto;
}
.f_05 a{
	bottom: 70px;
}
.f_05_zidiv{
	position: absolute;
	right: -35px;
	bottom: 362px;
}
.f_05_zidiv p{
	display: inline-block;
	font-size: 24px;
	color: #414141;
	text-align: left;
	text-indent: 2em;
	line-height: 41px;
}






.f_06{
	width: 1200px;
	height: 961px;
	margin: 0 auto;
}
.f_06 a{
	bottom: 90px;
}


.f_07{
	width: 1200px;
	height: 960px;
	margin: 0 auto;
}
.f_07 a{
	bottom: 80px;
}
.f_07_zidiv{
	position: absolute;
}
.f_07_zidiv p{
	font-size: 18px;
	color: #3b3b3b;
	text-align: left;
	line-height: 34px;
}
.f_07 .f7_01{
	left: 90px;
	top: 580px;
}
.f_07 .f7_02{
	top: 580px;
	left: 475px;
}
.f_07 .f7_03{
	top: 580px;
	left:845px;
}



.f_08{
	width: 1200px;
	height: 1053px;
	margin: 0 auto;
}
.f_08 a{
	bottom: 92px;
}
.f_08_zidiv{
	position: absolute;
}
.f8_01{
	font-size: 36px;
	color: #fff;
    left: 160px;
    top: 290px;
}
.f8_03{
	font-size: 20px;
	color: #fff;
	left: 160px;
	top: 455px;
	line-height: 50px;
}
.f8_02{
	font-size: 36px;
	color: #474747;
	left: 795px;
	top: 290px;
}
.f8_04{
	font-size: 20px;
	color: #474747;
	left: 720px;
	top: 455px;
	line-height: 50px;
}

.f_09{
	width: 1200px;
	height: 1140px;
	margin: 0 auto;
}
.f_09 a{
	bottom: 92px;
}
.f_09 h1{
	padding-top: 330px;
}
.f_09_zidiv{
	position: absolute;
	left: 320px;
	top: 50px;
}
.f_09_zidiv p{
	font-size: 50px;
	color: #fff;
	margin-bottom: 16px;
}
.f_09_zidiv span{
	font-size: 24px;
	color: #b6b6b6;
}

.f_010{
	width: 1200px;
	height: 1077px;
	margin: 0 auto;
}
.f_010_zidiv .ff_hz{
	position: absolute;
	left: 33px;
    top: 272px;
}
.f_010_zidiv li{
	width: 276px;
	float: left;
	height: 180px;
	border: solid 2px #005de9;
	margin-right: 10px;
}
.f_010_zidiv .f10_sp1{
	font-size: 22px;
	color: #222;
	margin-top:20px;
	margin-bottom: 20px;
	display: inline-block;
}
.f_010_zidiv .f10_p1{
	font-size: 17px;
	color: #666;
	line-height: 30px;
	text-align: left;
	/* display: inline-block; */
	padding-left: 16px;
}
.ff_hz1{
	position: absolute;
	left: 82px;
	top: 690px;
}
.ff_hz1 li{
	float: left;
	margin-right: 60px;
}
.ff_hz1 .no_rit{
	margin-right: 0;
}
.ff_hz1 .f10_sp2{
	display: inline-block;
	width: 160px;
	line-height: 35px;
	border-bottom: 2px solid #005de9;
	font-size: 19px;
	font-weight: bold;
	color: #444;
	margin-bottom: 13px;
}
.ff_hz1 .f10_p2{
	font-size: 14px;
	color: #999;
	line-height: 24px;
	text-align: left;
}




.f_011{
	width: 1200px;
	height: 960px;
	margin: 0 auto;
}



.f_012{
	width: 1200px;
	height: 900px;
	margin: 0 auto;
}



.f_013{
	width: 1200px;
	height: 958px;
	margin: 0 auto;
}
.f_013 a{
	bottom: 276px;
}