.sem-header-container {
  height: 80px;
  width: 100%;
  min-width: 1200px;
}
.sem-header-container .content {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}
.sem-header-container .content .hd_logo {
  float: left;
}
.sem-header-container .content img {
  margin-top: 20px;
}
.sem-header-container .content ul {
  display: inline-block;
  margin-left: 115px;
  margin-top: 30px;
}
.sem-header-container .content ul li {
  float: left;
  margin-right: 26px;
}
.sem-header-container .content ul li a {
  font-size: 16px;
  display: inline-block;
  height: 26px;
  color: #111;
}
.sem-header-container .content ul li .current {
  border-bottom: 3px solid #de0000;
}
.sem-header-container .content ul li a:hover {
  border-bottom: 3px solid #de0000;
}
.sem_footer {
  width: 100%;
  height: 80px;
  background-color: #333;
  min-width: 1200px;
}
.sem_footer p {
  color: #999;
  text-align: center;
  line-height: 80px;
  font-size: 18px;
}
#cnzz_stat_icon_1255814405 {
  display: none;
}
/*侧滑*/
.ch_div {
  position: absolute;
  left: 5px;
  top: 30%;
  margin-top: 0px;
  width: 150px;
  height: 390px;
  background: url('http://iotekcdn.b0.upaiyun.com/sem-static/img/jstd/cehua2.png') 0 0 no-repeat;
  z-index: 100;
  /*侧滑 手机*/
}
.ch_div a {
  display: block;
  width: 135px;
  height: 70px;
  margin-left: 8px;
  margin-top: 6px;
}
.ch_div .phone_div {
  display: none;
  background: url('http://iotekcdn.b0.upaiyun.com/sem-static/img/jstd/oph.png') 0 0 no-repeat;
  width: 267px;
  height: 52px;
  position: relative;
  left: 151px;
  top: -60px;
}
.ch_div .phone_text {
  float: left;
  background: #fff;
  width: 165px;
  height: 40px;
  line-height: 40px;
  color: #969696;
  margin-left: 15px;
  margin-top: 6px;
  padding-left: 10px;
}
.ch_div .mfhd {
  background: #000;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  float: left;
  width: 70px;
  margin-top: 6px;
  cursor: pointer;
}
.targer_div {
  display: none;
  text-align: center;
  background: url('http://iotekseo.b0.upaiyun.com/sem/img/targer_bg.png') 0 0 no-repeat;
  width: 378px;
  height: 413px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -189px;
  margin-top: -206px;
  z-index: 1002222;
}
.targer_div .cancle_img {
  float: right;
  padding: 15px;
  cursor: pointer;
}
.targer_div .true_img {
  margin-top: 100px;
  margin-left: 40px;
}
.targer_div .text_true {
  font-size: 20px;
  color: #444;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
}
#true_btn {
  cursor: pointer;
}
